table {
  position: relative;
  left: 50%;
  transform: translate(-50%);
  width: 40%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 1em;
  font-family: "Arial", sans-serif;
  box-shadow: 0 0 20px rgba(0, 20, 12, 10);
}

thead {
  background-color: #427bb8;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
}

th,
td {
  padding: 12px 20px;
  border: 1px solid #dddddd;
}

tbody tr {
  border-bottom: 1px solid #dddddd;
}

tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

tbody tr:nth-of-type(odd) {
  background-color: #f3f3f3;
}

tbody tr:hover {
  background-color: #f1f1f1;
}

button.edit,
button.delete {
  padding: 5px 10px;
  border: none;
  color: #ffffff;
  cursor: pointer;
  border-radius: 5px;
  font-size: 0.9em;
}
button.edit {
  background-color: rgb(54, 115, 58);
}
button.delete {
  background-color: rgb(190, 10, 10);
}

button:hover {
  opacity: 0.8;
}

.todo-exception {
  font-family: sans-serif;
  font-size: 2rem;
  text-align: center;
  margin-top: 80px;
}
